# Data Manipulation with pandas

In [1]:
# Setup header
import pandas as pd

pd.set_option('display.max_rows', None)

homelessness = pd.read_csv('homelessness.csv', index_col=0)
sales = pd.read_csv('sales_subset.csv', index_col=0)

sales['date'] = pd.to_datetime(sales['date'])

## Transforming `DataFrame`s

### Inspecting a `DataFrame`

Here are a few ways to summarize pandas `DataFrame`s. `.head()` gives a quick rundown of what the `DataFrame` looks like without any attempt at summarizing the data:

In [2]:
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

`.info()` will show the type of each column and give the user an idea of how many missing values there are:

In [3]:
homelessness.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

`.shape` is a tuple with the number of rows and columns in the `DataFrame`. Note that `.shape` is an attribute rather than a method:

In [4]:
homelessness.shape

(51, 5)

Lastly `.describe()` gives summary statistics of the *numerical* columns:

In [5]:
homelessness.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

### Parts of a `DataFrame`

`.values` gives a "raw" NumPy array of the content of the `DataFrame`:

In [6]:
homelessness.values

array([['East South Central', 'Alabama', 2570.0, 864.0, 4887681],
       ['Pacific', 'Alaska', 1434.0, 582.0, 735139],
       ['Mountain', 'Arizona', 7259.0, 2606.0, 7158024],
       ['West South Central', 'Arkansas', 2280.0, 432.0, 3009733],
       ['Pacific', 'California', 109008.0, 20964.0, 39461588],
       ['Mountain', 'Colorado', 7607.0, 3250.0, 5691287],
       ['New England', 'Connecticut', 2280.0, 1696.0, 3571520],
       ['South Atlantic', 'Delaware', 708.0, 374.0, 965479],
       ['South Atlantic', 'District of Columbia', 3770.0, 3134.0, 701547],
       ['South Atlantic', 'Florida', 21443.0, 9587.0, 21244317],
       ['South Atlantic', 'Georgia', 6943.0, 2556.0, 10511131],
       ['Pacific', 'Hawaii', 4131.0, 2399.0, 1420593],
       ['Mountain', 'Idaho', 1297.0, 715.0, 1750536],
       ['East North Central', 'Illinois', 6752.0, 3891.0, 12723071],
       ['East North Central', 'Indiana', 3776.0, 1482.0, 6695497],
       ['West North Central', 'Iowa', 1711.0, 1038.0, 3148618],
       ['West North Central', 'Kansas', 1443.0, 773.0, 2911359],
       ['East South Central', 'Kentucky', 2735.0, 953.0, 4461153],
       ['West South Central', 'Louisiana', 2540.0, 519.0, 4659690],
       ['New England', 'Maine', 1450.0, 1066.0, 1339057],
       ['South Atlantic', 'Maryland', 4914.0, 2230.0, 6035802],
       ['New England', 'Massachusetts', 6811.0, 13257.0, 6882635],
       ['East North Central', 'Michigan', 5209.0, 3142.0, 9984072],
       ['West North Central', 'Minnesota', 3993.0, 3250.0, 5606249],
       ['East South Central', 'Mississippi', 1024.0, 328.0, 2981020],
       ['West North Central', 'Missouri', 3776.0, 2107.0, 6121623],
       ['Mountain', 'Montana', 983.0, 422.0, 1060665],
       ['West North Central', 'Nebraska', 1745.0, 676.0, 1925614],
       ['Mountain', 'Nevada', 7058.0, 486.0, 3027341],
       ['New England', 'New Hampshire', 835.0, 615.0, 1353465],
       ['Mid-Atlantic', 'New Jersey', 6048.0, 3350.0, 8886025],
       ['Mountain', 'New Mexico', 1949.0, 602.0, 2092741],
       ['Mid-Atlantic', 'New York', 39827.0, 52070.0, 19530351],
       ['South Atlantic', 'North Carolina', 6451.0, 2817.0, 10381615],
       ['West North Central', 'North Dakota', 467.0, 75.0, 758080],
       ['East North Central', 'Ohio', 6929.0, 3320.0, 11676341],
       ['West South Central', 'Oklahoma', 2823.0, 1048.0, 3940235],
       ['Pacific', 'Oregon', 11139.0, 3337.0, 4181886],
       ['Mid-Atlantic', 'Pennsylvania', 8163.0, 5349.0, 12800922],
       ['New England', 'Rhode Island', 747.0, 354.0, 1058287],
       ['South Atlantic', 'South Carolina', 3082.0, 851.0, 5084156],
       ['West North Central', 'South Dakota', 836.0, 323.0, 878698],
       ['East South Central', 'Tennessee', 6139.0, 1744.0, 6771631],
       ['West South Central', 'Texas', 19199.0, 6111.0, 28628666],
       ['Mountain', 'Utah', 1904.0, 972.0, 3153550],
       ['New England', 'Vermont', 780.0, 511.0, 624358],
       ['South Atlantic', 'Virginia', 3928.0, 2047.0, 8501286],
       ['Pacific', 'Washington', 16424.0, 5880.0, 7523869],
       ['South Atlantic', 'West Virginia', 1021.0, 222.0, 1804291],
       ['East North Central', 'Wisconsin', 2740.0, 2167.0, 5807406],
       ['Mountain', 'Wyoming', 434.0, 205.0, 577601]], dtype=object)

`.columns` gives a pandas `Index` object for the columns of the `DataFrame`:

In [7]:
homelessness.columns

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

`.index` gives an index for the rows, which will consist either of row numbers or row names:

In [8]:
homelessness.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype='int64')

pandas `Index` objects are a subtle topic that will receive a lot more treatment later.

### Sorting rows

`.sort_values()` with one argument will sort a `DataFrame` by that column, ascending. For example:

In [9]:
homelessness.sort_values('individuals')

,region,state,individuals,family_members,state_pop
50,Mountain,Wyoming,434.0,205.0,577601
34,West North Central,North Dakota,467.0,75.0,758080
7,South Atlantic,Delaware,708.0,374.0,965479
39,New England,Rhode Island,747.0,354.0,1058287
45,New England,Vermont,780.0,511.0,624358
29,New England,New Hampshire,835.0,615.0,1353465
41,West North Central,South Dakota,836.0,323.0,878698
26,Mountain,Montana,983.0,422.0,1060665
48,South Atlantic,West Virginia,1021.0,222.0,1804291
24,East South Central,Mississippi,1024.0,328.0,2981020
12,Mountain,Idaho,1297.0,715.0,1750536
1,Pacific,Alaska,1434.0,582.0,735139
16,West North Central,Kansas,1443.0,773.0,2911359
19,New England,Maine,1450.0,1066.0,1339057
15,West North Central,Iowa,1711.0,1038.0,3148618
27,West North Central,Nebraska,1745.0,676.0,1925614
44,Mountain,Utah,1904.0,972.0,3153550
31,Mountain,New Mexico,1949.0,602.0,2092741
3,West South Central,Arkansas,2280.0,432.0,3009733
6,New England,Connecticut,2280.0,1696.0,3571520
18,West South Central,Louisiana,2540.0,519.0,4659690
0,East South Central,Alabama,2570.0,864.0,4887681
17,East South Central,Kentucky,2735.0,953.0,4461153
49,East North Central,Wisconsin,2740.0,2167.0,5807406
36,West South Central,Oklahoma,2823.0,1048.0,3940235
40,South Atlantic,South Carolina,3082.0,851.0,5084156
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
25,West North Central,Missouri,3776.0,2107.0,6121623
14,East North Central,Indiana,3776.0,1482.0,6695497
46,South Atlantic,Virginia,3928.0,2047.0,8501286
23,West North Central,Minnesota,3993.0,3250.0,5606249
11,Pacific,Hawaii,4131.0,2399.0,1420593
20,South Atlantic,Maryland,4914.0,2230.0,6035802
22,East North Central,Michigan,5209.0,3142.0,9984072
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
42,East South Central,Tennessee,6139.0,1744.0,6771631
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
13,East North Central,Illinois,6752.0,3891.0,12723071
21,New England,Massachusetts,6811.0,13257.0,6882635
35,East North Central,Ohio,6929.0,3320.0,11676341
10,South Atlantic,Georgia,6943.0,2556.0,10511131
28,Mountain,Nevada,7058.0,486.0,3027341
2,Mountain,Arizona,7259.0,2606.0,7158024
5,Mountain,Colorado,7607.0,3250.0,5691287
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
37,Pacific,Oregon,11139.0,3337.0,4181886
47,Pacific,Washington,16424.0,5880.0,7523869
43,West South Central,Texas,19199.0,6111.0,28628666
9,South Atlantic,Florida,21443.0,9587.0,21244317
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
4,Pacific,California,109008.0,20964.0,39461588

Descending order can be achieved almost as easily with the `ascending` keyword argument:

In [10]:
homelessness.sort_values('family_members', ascending=False)

,region,state,individuals,family_members,state_pop
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
4,Pacific,California,109008.0,20964.0,39461588
21,New England,Massachusetts,6811.0,13257.0,6882635
9,South Atlantic,Florida,21443.0,9587.0,21244317
43,West South Central,Texas,19199.0,6111.0,28628666
47,Pacific,Washington,16424.0,5880.0,7523869
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
13,East North Central,Illinois,6752.0,3891.0,12723071
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
37,Pacific,Oregon,11139.0,3337.0,4181886
35,East North Central,Ohio,6929.0,3320.0,11676341
5,Mountain,Colorado,7607.0,3250.0,5691287
23,West North Central,Minnesota,3993.0,3250.0,5606249
22,East North Central,Michigan,5209.0,3142.0,9984072
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
2,Mountain,Arizona,7259.0,2606.0,7158024
10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,Pacific,Hawaii,4131.0,2399.0,1420593
20,South Atlantic,Maryland,4914.0,2230.0,6035802
49,East North Central,Wisconsin,2740.0,2167.0,5807406
25,West North Central,Missouri,3776.0,2107.0,6121623
46,South Atlantic,Virginia,3928.0,2047.0,8501286
42,East South Central,Tennessee,6139.0,1744.0,6771631
6,New England,Connecticut,2280.0,1696.0,3571520
14,East North Central,Indiana,3776.0,1482.0,6695497
19,New England,Maine,1450.0,1066.0,1339057
36,West South Central,Oklahoma,2823.0,1048.0,3940235
15,West North Central,Iowa,1711.0,1038.0,3148618
44,Mountain,Utah,1904.0,972.0,3153550
17,East South Central,Kentucky,2735.0,953.0,4461153
0,East South Central,Alabama,2570.0,864.0,4887681
40,South Atlantic,South Carolina,3082.0,851.0,5084156
16,West North Central,Kansas,1443.0,773.0,2911359
12,Mountain,Idaho,1297.0,715.0,1750536
27,West North Central,Nebraska,1745.0,676.0,1925614
29,New England,New Hampshire,835.0,615.0,1353465
31,Mountain,New Mexico,1949.0,602.0,2092741
1,Pacific,Alaska,1434.0,582.0,735139
18,West South Central,Louisiana,2540.0,519.0,4659690
45,New England,Vermont,780.0,511.0,624358
28,Mountain,Nevada,7058.0,486.0,3027341
3,West South Central,Arkansas,2280.0,432.0,3009733
26,Mountain,Montana,983.0,422.0,1060665
7,South Atlantic,Delaware,708.0,374.0,965479
39,New England,Rhode Island,747.0,354.0,1058287
24,East South Central,Mississippi,1024.0,328.0,2981020
41,West North Central,South Dakota,836.0,323.0,878698
48,South Atlantic,West Virginia,1021.0,222.0,1804291
50,Mountain,Wyoming,434.0,205.0,577601
34,West North Central,North Dakota,467.0,75.0,758080

### Subsetting columns

Individual columns can be extracted as `Series` objects using square bracket indexing:

In [11]:
homelessness['individuals']

0       2570.0
1       1434.0
2       7259.0
3       2280.0
4     109008.0
5       7607.0
6       2280.0
7        708.0
8       3770.0
9      21443.0
10      6943.0
11      4131.0
12      1297.0
13      6752.0
14      3776.0
15      1711.0
16      1443.0
17      2735.0
18      2540.0
19      1450.0
20      4914.0
21      6811.0
22      5209.0
23      3993.0
24      1024.0
25      3776.0
26       983.0
27      1745.0
28      7058.0
29       835.0
30      6048.0
31      1949.0
32     39827.0
33      6451.0
34       467.0
35      6929.0
36      2823.0
37     11139.0
38      8163.0
39       747.0
40      3082.0
41       836.0
42      6139.0
43     19199.0
44      1904.0
45       780.0
46      3928.0
47     16424.0
48      1021.0
49      2740.0
50       434.0
Name: individuals, dtype: float64

`DataFrame`s can be subsetted using a `list` to index the original `DataFrame`:

In [12]:
homelessness[['state', 'family_members']]

                   state  family_members
0                Alabama           864.0
1                 Alaska           582.0
2                Arizona          2606.0
3               Arkansas           432.0
4             California         20964.0
5               Colorado          3250.0
6            Connecticut          1696.0
7               Delaware           374.0
8   District of Columbia          3134.0
9                Florida          9587.0
10               Georgia          2556.0
11                Hawaii          2399.0
12                 Idaho           715.0
13              Illinois          3891.0
14               Indiana          1482.0
15                  Iowa          1038.0
16                Kansas           773.0
17              Kentucky           953.0
18             Louisiana           519.0
19                 Maine          1066.0
20              Maryland          2230.0
21         Massachusetts         13257.0
22              Michigan          3142.0
23             Minnesota          3250.0
24           Mississippi           328.0
25              Missouri          2107.0
26               Montana           422.0
27              Nebraska           676.0
28                Nevada           486.0
29         New Hampshire           615.0
30            New Jersey          3350.0
31            New Mexico           602.0
32              New York         52070.0
33        North Carolina          2817.0
34          North Dakota            75.0
35                  Ohio          3320.0
36              Oklahoma          1048.0
37                Oregon          3337.0
38          Pennsylvania          5349.0
39          Rhode Island           354.0
40        South Carolina           851.0
41          South Dakota           323.0
42             Tennessee          1744.0
43                 Texas          6111.0
44                  Utah           972.0
45               Vermont           511.0
46              Virginia          2047.0
47            Washington          5880.0
48         West Virginia           222.0
49             Wisconsin          2167.0
50               Wyoming           205.0

Note that this approach can be used to subset `DataFrame`s with one column, as opposed to extracting `Series` objects as described above:

In [13]:
homelessness[['state']]

                   state
0                Alabama
1                 Alaska
2                Arizona
3               Arkansas
4             California
5               Colorado
6            Connecticut
7               Delaware
8   District of Columbia
9                Florida
10               Georgia
11                Hawaii
12                 Idaho
13              Illinois
14               Indiana
15                  Iowa
16                Kansas
17              Kentucky
18             Louisiana
19                 Maine
20              Maryland
21         Massachusetts
22              Michigan
23             Minnesota
24           Mississippi
25              Missouri
26               Montana
27              Nebraska
28                Nevada
29         New Hampshire
30            New Jersey
31            New Mexico
32              New York
33        North Carolina
34          North Dakota
35                  Ohio
36              Oklahoma
37                Oregon
38          Pennsylvania
39          Rhode Island
40        South Carolina
41          South Dakota
42             Tennessee
43                 Texas
44                  Utah
45               Vermont
46              Virginia
47            Washington
48         West Virginia
49             Wisconsin
50               Wyoming

### Subsetting rows

Rows of a `DataFrame` can be subsetted using a `Series` of `bool`s. Here's a simple example:

In [14]:
homelessness[homelessness['individuals'] > 10_000]

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

Here's another example:

In [15]:
homelessness[homelessness['region'] == 'Mountain']

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

Here's a more complicated example using two `Series` of `bools` joined with a Boolean "and" operation. **Note the necessity of parentheses and to use `&` instead of `and`**:

In [16]:
homelessness[(homelessness['family_members'] < 1000) & (homelessness['region'] == 'Pacific')]

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

### Subsetting rows by categorical variables

Multiple values of a categorical variable can be matched using the `.isin()` method of pandas `Series` objects:

In [17]:
# Subset the Mojave Desert states
homelessness[homelessness['state'].isin(['California', 'Arizona', 'Nevada', 'Utah'])]

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

### Adding new columns

Here, a `total` column is added to the `homelessness` `DataFrame`:

In [18]:
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']
homelessness

,region,state,individuals,family_members,state_pop,total
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0
1,Pacific,Alaska,1434.0,582.0,735139,2016.0
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0
4,Pacific,California,109008.0,20964.0,39461588,129972.0
5,Mountain,Colorado,7607.0,3250.0,5691287,10857.0
6,New England,Connecticut,2280.0,1696.0,3571520,3976.0
7,South Atlantic,Delaware,708.0,374.0,965479,1082.0
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,6904.0
9,South Atlantic,Florida,21443.0,9587.0,21244317,31030.0
10,South Atlantic,Georgia,6943.0,2556.0,10511131,9499.0
11,Pacific,Hawaii,4131.0,2399.0,1420593,6530.0
12,Mountain,Idaho,1297.0,715.0,1750536,2012.0
13,East North Central,Illinois,6752.0,3891.0,12723071,10643.0
14,East North Central,Indiana,3776.0,1482.0,6695497,5258.0
15,West North Central,Iowa,1711.0,1038.0,3148618,2749.0
16,West North Central,Kansas,1443.0,773.0,2911359,2216.0
17,East South Central,Kentucky,2735.0,953.0,4461153,3688.0
18,West South Central,Louisiana,2540.0,519.0,4659690,3059.0
19,New England,Maine,1450.0,1066.0,1339057,2516.0
20,South Atlantic,Maryland,4914.0,2230.0,6035802,7144.0
21,New England,Massachusetts,6811.0,13257.0,6882635,20068.0
22,East North Central,Michigan,5209.0,3142.0,9984072,8351.0
23,West North Central,Minnesota,3993.0,3250.0,5606249,7243.0
24,East South Central,Mississippi,1024.0,328.0,2981020,1352.0
25,West North Central,Missouri,3776.0,2107.0,6121623,5883.0
26,Mountain,Montana,983.0,422.0,1060665,1405.0
27,West North Central,Nebraska,1745.0,676.0,1925614,2421.0
28,Mountain,Nevada,7058.0,486.0,3027341,7544.0
29,New England,New Hampshire,835.0,615.0,1353465,1450.0
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,9398.0
31,Mountain,New Mexico,1949.0,602.0,2092741,2551.0
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,91897.0
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,9268.0
34,West North Central,North Dakota,467.0,75.0,758080,542.0
35,East North Central,Ohio,6929.0,3320.0,11676341,10249.0
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3871.0
37,Pacific,Oregon,11139.0,3337.0,4181886,14476.0
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,13512.0
39,New England,Rhode Island,747.0,354.0,1058287,1101.0
40,South Atlantic,South Carolina,3082.0,851.0,5084156,3933.0
41,West North Central,South Dakota,836.0,323.0,878698,1159.0
42,East South Central,Tennessee,6139.0,1744.0,6771631,7883.0
43,West South Central,Texas,19199.0,6111.0,28628666,25310.0
44,Mountain,Utah,1904.0,972.0,3153550,2876.0
45,New England,Vermont,780.0,511.0,624358,1291.0
46,South Atlantic,Virginia,3928.0,2047.0,8501286,5975.0
47,Pacific,Washington,16424.0,5880.0,7523869,22304.0
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1243.0
49,East North Central,Wisconsin,2740.0,2167.0,5807406,4907.0
50,Mountain,Wyoming,434.0,205.0,577601,639.0

And here, a `p_homeless` column is added to give *per capita* numbers:

In [19]:
homelessness['p_homeless'] = homelessness['total'] / homelessness['state_pop']
homelessness

,region,state,individuals,family_members,state_pop,total,p_homeless
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.000703
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.002742
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.001378
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.000901
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.003294
5,Mountain,Colorado,7607.0,3250.0,5691287,10857.0,0.001908
6,New England,Connecticut,2280.0,1696.0,3571520,3976.0,0.001113
7,South Atlantic,Delaware,708.0,374.0,965479,1082.0,0.001121
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,6904.0,0.009841
9,South Atlantic,Florida,21443.0,9587.0,21244317,31030.0,0.001461
10,South Atlantic,Georgia,6943.0,2556.0,10511131,9499.0,0.000904
11,Pacific,Hawaii,4131.0,2399.0,1420593,6530.0,0.004597
12,Mountain,Idaho,1297.0,715.0,1750536,2012.0,0.001149
13,East North Central,Illinois,6752.0,3891.0,12723071,10643.0,0.000837
14,East North Central,Indiana,3776.0,1482.0,6695497,5258.0,0.000785
15,West North Central,Iowa,1711.0,1038.0,3148618,2749.0,0.000873
16,West North Central,Kansas,1443.0,773.0,2911359,2216.0,0.000761
17,East South Central,Kentucky,2735.0,953.0,4461153,3688.0,0.000827
18,West South Central,Louisiana,2540.0,519.0,4659690,3059.0,0.000656
19,New England,Maine,1450.0,1066.0,1339057,2516.0,0.001879
20,South Atlantic,Maryland,4914.0,2230.0,6035802,7144.0,0.001184
21,New England,Massachusetts,6811.0,13257.0,6882635,20068.0,0.002916
22,East North Central,Michigan,5209.0,3142.0,9984072,8351.0,0.000836
23,West North Central,Minnesota,3993.0,3250.0,5606249,7243.0,0.001292
24,East South Central,Mississippi,1024.0,328.0,2981020,1352.0,0.000454
25,West North Central,Missouri,3776.0,2107.0,6121623,5883.0,0.000961
26,Mountain,Montana,983.0,422.0,1060665,1405.0,0.001325
27,West North Central,Nebraska,1745.0,676.0,1925614,2421.0,0.001257
28,Mountain,Nevada,7058.0,486.0,3027341,7544.0,0.002492
29,New England,New Hampshire,835.0,615.0,1353465,1450.0,0.001071
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,9398.0,0.001058
31,Mountain,New Mexico,1949.0,602.0,2092741,2551.0,0.001219
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,91897.0,0.004705
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,9268.0,0.000893
34,West North Central,North Dakota,467.0,75.0,758080,542.0,0.000715
35,East North Central,Ohio,6929.0,3320.0,11676341,10249.0,0.000878
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3871.0,0.000982
37,Pacific,Oregon,11139.0,3337.0,4181886,14476.0,0.003462
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,13512.0,0.001056
39,New England,Rhode Island,747.0,354.0,1058287,1101.0,0.001040
40,South Atlantic,South Carolina,3082.0,851.0,5084156,3933.0,0.000774
41,West North Central,South Dakota,836.0,323.0,878698,1159.0,0.001319
42,East South Central,Tennessee,6139.0,1744.0,6771631,7883.0,0.001164
43,West South Central,Texas,19199.0,6111.0,28628666,25310.0,0.000884
44,Mountain,Utah,1904.0,972.0,3153550,2876.0,0.000912
45,New England,Vermont,780.0,511.0,624358,1291.0,0.002068
46,South Atlantic,Virginia,3928.0,2047.0,8501286,5975.0,0.000703
47,Pacific,Washington,16424.0,5880.0,7523869,22304.0,0.002964
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1243.0,0.000689
49,East North Central,Wisconsin,2740.0,2167.0,5807406,4907.0,0.000845
50,Mountain,Wyoming,434.0,205.0,577601,639.0,0.001106

### Combo-attack!

The DataCamp instructor's whimsical name for an exercise combining the following operations:

* Adding a column `indiv_per_10k`, containing the number of homeless in each state per 10,000 members of the population
* Subsetting the rows where `indiv_per_10k` is higher than 20 (`high_homelessness`)
* Sorting `high_homelessness` by `indiv_per_10k` in descending order (`high_homelessness_srt`)
* Selecting only the `state` and `indiv_per_10k` columns of `high_homelessness_srt` and saving that subset as `result`

In [20]:
# Remove columns from previous exercise
homelessness = homelessness.drop(['total', 'p_homeless'], axis=1)

homelessness['indiv_per_10k'] = 10000 * homelessness['individuals'] / homelessness['state_pop']
homelessness

,region,state,individuals,family_members,state_pop,indiv_per_10k
0,East South Central,Alabama,2570.0,864.0,4887681,5.258117
1,Pacific,Alaska,1434.0,582.0,735139,19.506515
2,Mountain,Arizona,7259.0,2606.0,7158024,10.141067
3,West South Central,Arkansas,2280.0,432.0,3009733,7.575423
4,Pacific,California,109008.0,20964.0,39461588,27.623825
5,Mountain,Colorado,7607.0,3250.0,5691287,13.366045
6,New England,Connecticut,2280.0,1696.0,3571520,6.383837
7,South Atlantic,Delaware,708.0,374.0,965479,7.333148
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,53.738381
9,South Atlantic,Florida,21443.0,9587.0,21244317,10.093523
10,South Atlantic,Georgia,6943.0,2556.0,10511131,6.605379
11,Pacific,Hawaii,4131.0,2399.0,1420593,29.079406
12,Mountain,Idaho,1297.0,715.0,1750536,7.409159
13,East North Central,Illinois,6752.0,3891.0,12723071,5.306895
14,East North Central,Indiana,3776.0,1482.0,6695497,5.639611
15,West North Central,Iowa,1711.0,1038.0,3148618,5.434130
16,West North Central,Kansas,1443.0,773.0,2911359,4.956448
17,East South Central,Kentucky,2735.0,953.0,4461153,6.130702
18,West South Central,Louisiana,2540.0,519.0,4659690,5.451006
19,New England,Maine,1450.0,1066.0,1339057,10.828516
20,South Atlantic,Maryland,4914.0,2230.0,6035802,8.141420
21,New England,Massachusetts,6811.0,13257.0,6882635,9.895919
22,East North Central,Michigan,5209.0,3142.0,9984072,5.217310
23,West North Central,Minnesota,3993.0,3250.0,5606249,7.122409
24,East South Central,Mississippi,1024.0,328.0,2981020,3.435066
25,West North Central,Missouri,3776.0,2107.0,6121623,6.168299
26,Mountain,Montana,983.0,422.0,1060665,9.267771
27,West North Central,Nebraska,1745.0,676.0,1925614,9.062045
28,Mountain,Nevada,7058.0,486.0,3027341,23.314189
29,New England,New Hampshire,835.0,615.0,1353465,6.169351
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,6.806193
31,Mountain,New Mexico,1949.0,602.0,2092741,9.313145
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,20.392363
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,6.213869
34,West North Central,North Dakota,467.0,75.0,758080,6.160300
35,East North Central,Ohio,6929.0,3320.0,11676341,5.934222
36,West South Central,Oklahoma,2823.0,1048.0,3940235,7.164547
37,Pacific,Oregon,11139.0,3337.0,4181886,26.636307
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,6.376884
39,New England,Rhode Island,747.0,354.0,1058287,7.058577
40,South Atlantic,South Carolina,3082.0,851.0,5084156,6.061970
41,West North Central,South Dakota,836.0,323.0,878698,9.514077
42,East South Central,Tennessee,6139.0,1744.0,6771631,9.065763
43,West South Central,Texas,19199.0,6111.0,28628666,6.706215
44,Mountain,Utah,1904.0,972.0,3153550,6.037640
45,New England,Vermont,780.0,511.0,624358,12.492833
46,South Atlantic,Virginia,3928.0,2047.0,8501286,4.620477
47,Pacific,Washington,16424.0,5880.0,7523869,21.829195
48,South Atlantic,West Virginia,1021.0,222.0,1804291,5.658732
49,East North Central,Wisconsin,2740.0,2167.0,5807406,4.718113
50,Mountain,Wyoming,434.0,205.0,577601,7.513837

In [21]:
high_homelessness = homelessness[homelessness['indiv_per_10k'] > 20]
high_homelessness

,region,state,individuals,family_members,state_pop,indiv_per_10k
4,Pacific,California,109008.0,20964.0,39461588,27.623825
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,53.738381
11,Pacific,Hawaii,4131.0,2399.0,1420593,29.079406
28,Mountain,Nevada,7058.0,486.0,3027341,23.314189
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,20.392363
37,Pacific,Oregon,11139.0,3337.0,4181886,26.636307
47,Pacific,Washington,16424.0,5880.0,7523869,21.829195

In [22]:
high_homelessness_srt = high_homelessness.sort_values('indiv_per_10k', ascending=False)
high_homelessness_srt

,region,state,individuals,family_members,state_pop,indiv_per_10k
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,53.738381
11,Pacific,Hawaii,4131.0,2399.0,1420593,29.079406
4,Pacific,California,109008.0,20964.0,39461588,27.623825
37,Pacific,Oregon,11139.0,3337.0,4181886,26.636307
28,Mountain,Nevada,7058.0,486.0,3027341,23.314189
47,Pacific,Washington,16424.0,5880.0,7523869,21.829195
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,20.392363

In [23]:
result = high_homelessness_srt[['state', 'indiv_per_10k']]
result

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

## Aggregating `DataFrame`s

### Mean and median

First, let's have a quick overview of the `sales` `DataFrame`:

In [24]:
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

Then let's take a look at some "info" for each of the columns

In [25]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  datetime64[ns]
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 768.1+ KB

Now for some aggregation as promised. The mean of `weekly_sales`:

In [26]:
float(sales['weekly_sales'].mean())

23843.95014850566

And the median:

In [27]:
float(sales['weekly_sales'].median())

12049.064999999999

### Summarizing dates

Aggregate statistics on dates are also possible. DataCamp does some voodoo in the background on their lesson for this example which I've replicated in the notebook header by calling to `pd.to_datetime()`:

In [28]:
sales['date'].max()

Timestamp('2012-10-26 00:00:00')

In [29]:
sales['date'].min()

Timestamp('2010-02-05 00:00:00')

### Efficient summaries

Custom aggregation functions are also possible to go beyond built-in functions. Here's an example with interquartile range:

In [30]:
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)


float(sales['temperature_c'].agg(iqr))

16.583333333333336

Aggregation can also be applied to a `DataFrame` with multiple columns rather than just one `Series`:

In [31]:
sales[['temperature_c', 'fuel_price_usd_per_l', 'unemployment']].agg(iqr)

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In the same way, multiple functions can be given to `.agg()` (the DataCamp code used `np.median` but `pd.Series.median` doesn't raise a warning):

In [32]:
sales[['temperature_c', 'fuel_price_usd_per_l', 'unemployment']].agg([iqr, pd.Series.median])

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

### Cumulative statistics

To start with, we'll need a subset of `sales` that contains only rows where `store` is `1` and `department` is also `1`:

In [33]:
sales_1_1 = sales[(sales['store'] == 1) & (sales['department'] == 1)]
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

Cumulative statistics will also require that `sales_1_1` be sorted by `date` ascending. The data are already in order but it can't help to be thorough:

In [34]:
sales_1_1 = sales_1_1.sort_values('date')
sales_1_1.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

Now we'll add cumulative sum and cumulative maximum columns drawn from `weekly_sales`:

In [35]:
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()
sales_1_1['cum_max_sales'] = sales_1_1['weekly_sales'].cummax()
sales_1_1[['date', 'weekly_sales', 'cum_weekly_sales', 'cum_max_sales']]

         date  weekly_sales  cum_weekly_sales  cum_max_sales
0  2010-02-05      24924.50          24924.50       24924.50
1  2010-03-05      21827.90          46752.40       24924.50
2  2010-04-02      57258.43         104010.83       57258.43
3  2010-05-07      17413.94         121424.77       57258.43
4  2010-06-04      17558.09         138982.86       57258.43
5  2010-07-02      16333.14         155316.00       57258.43
6  2010-08-06      17508.41         172824.41       57258.43
7  2010-09-03      16241.78         189066.19       57258.43
8  2010-10-01      20094.19         209160.38       57258.43
9  2010-11-05      34238.88         243399.26       57258.43
10 2010-12-03      22517.56         265916.82       57258.43
11 2011-01-07      15984.24         281901.06       57258.43

### Dropping duplicates

Removing duplicates can be an important step in analyzing categorical data. Here, `store_types` and `store_departments` represent unique combinations of `store` and `type` and `store` and `department`, respectively, in the `sales` dataset:

In [36]:
store_types = sales.drop_duplicates(['store', 'type'])
store_types

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
901,2,A,1,2010-02-05,35034.06,False,4.550000,0.679451,8.324
1798,4,A,1,2010-02-05,38724.42,False,6.533333,0.686319,8.623
2699,6,A,1,2010-02-05,25619.00,False,4.683333,0.679451,7.259
3593,10,B,1,2010-02-05,40212.84,False,12.411111,0.782478,9.765
4495,13,A,1,2010-02-05,46761.90,False,-0.261111,0.704283,8.316
5408,14,A,1,2010-02-05,32842.31,False,-2.605556,0.735455,8.992
6293,19,A,1,2010-02-05,21500.58,False,-6.133333,0.780365,8.350
7199,20,A,1,2010-02-05,46021.21,False,-3.377778,0.735455,8.187
8109,27,A,1,2010-02-05,32313.79,False,-2.672222,0.780365,8.237
9009,31,A,1,2010-02-05,18187.71,False,3.916667,0.679451,8.324
9899,39,A,1,2010-02-05,21244.50,False,6.833333,0.679451,8.554

In [37]:
store_depts = sales.drop_duplicates(['store', 'department'])
store_depts

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
12,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106
24,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106
36,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106
48,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106
60,1,A,6,2010-02-05,5749.03,False,5.727778,0.679451,8.106
72,1,A,7,2010-02-05,21084.08,False,5.727778,0.679451,8.106
84,1,A,8,2010-02-05,40129.01,False,5.727778,0.679451,8.106
96,1,A,9,2010-02-05,16930.99,False,5.727778,0.679451,8.106
108,1,A,10,2010-02-05,30721.50,False,5.727778,0.679451,8.106
120,1,A,11,2010-02-05,24213.18,False,5.727778,0.679451,8.106
132,1,A,12,2010-02-05,8449.54,False,5.727778,0.679451,8.106
144,1,A,13,2010-02-05,41969.29,False,5.727778,0.679451,8.106
156,1,A,14,2010-02-05,19466.91,False,5.727778,0.679451,8.106
168,1,A,16,2010-02-05,10217.55,False,5.727778,0.679451,8.106
180,1,A,17,2010-02-05,13223.76,False,5.727778,0.679451,8.106
192,1,A,18,2010-02-05,4729.50,False,5.727778,0.679451,8.106
204,1,A,19,2010-02-05,1947.05,False,5.727778,0.679451,8.106
216,1,A,20,2010-02-05,5034.10,False,5.727778,0.679451,8.106
228,1,A,21,2010-02-05,8907.63,False,5.727778,0.679451,8.106
240,1,A,22,2010-02-05,13623.98,False,5.727778,0.679451,8.106
252,1,A,23,2010-02-05,24146.49,False,5.727778,0.679451,8.106
264,1,A,24,2010-02-05,8272.90,False,5.727778,0.679451,8.106
276,1,A,25,2010-02-05,11609.50,False,5.727778,0.679451,8.106
288,1,A,26,2010-02-05,11737.12,False,5.727778,0.679451,8.106
300,1,A,27,2010-02-05,2293.00,False,5.727778,0.679451,8.106
312,1,A,28,2010-02-05,1085.29,False,5.727778,0.679451,8.106
324,1,A,29,2010-02-05,7024.95,False,5.727778,0.679451,8.106
336,1,A,30,2010-02-05,5491.00,False,5.727778,0.679451,8.106
348,1,A,31,2010-02-05,3455.92,False,5.727778,0.679451,8.106
360,1,A,32,2010-02-05,11875.84,False,5.727778,0.679451,8.106
372,1,A,33,2010-02-05,8589.77,False,5.727778,0.679451,8.106
384,1,A,34,2010-02-05,14350.83,False,5.727778,0.679451,8.106
396,1,A,35,2010-02-05,2770.00,False,5.727778,0.679451,8.106
408,1,A,36,2010-02-05,120.00,False,5.727778,0.679451,8.106
420,1,A,37,2010-02-05,3438.16,False,5.727778,0.679451,8.106
432,1,A,38,2010-02-05,115564.35,False,5.727778,0.679451,8.106
444,1,A,40,2010-02-05,66780.63,False,5.727778,0.679451,8.106
456,1,A,41,2010-02-05,1011.83,False,5.727778,0.679451,8.106
468,1,A,42,2010-02-05,8366.71,False,5.727778,0.679451,8.106
480,1,A,44,2010-02-05,4674.75,False,5.727778,0.679451,8.106
492,1,A,45,2010-02-05,37.44,False,5.727778,0.679451,8.106
504,1,A,46,2010-02-05,20837.77,False,5.727778,0.679451,8.106
516,1,A,47,2010-02-05,70.00,False,5.727778,0.679451,8.106
526,1,A,48,2010-02-05,814.00,False,5.727778,0.679451,8.106
538,1,A,49,2010-02-05,11501.46,False,5.727778,0.679451,8.106
550,1,A,51,2010-02-05,1.16,False,5.727778,0.679451,8.106
559,1,A,52,2010-02-05,3508.04,False,5.727778,0.679451,8.106
571,1,A,54,2010-02-05,439.00,False,5.727778,0.679451,8.106
583,1,A,55,2010-02-05,21249.31,False,5.727778,0.679451,8.106
595,1,A,56,2010-02-05,2567.36,False,5.727778,0.679451,8.106
607,1,A,58,2010-02-05,7659.97,False,5.727778,0.679451,8.106
619,1,A,59,2010-02-05,1409.34,False,5.727778,0.679451,8.106
631,1,A,60,2010-02-05,1416.80,False,5.727778,0.679451,8.106
643,1,A,67,2010-02-05,8414.14,False,5.727778,0.679451,8.106
655,1,A,71,2010-02-05,5421.14,False,5.727778,0.679451,8.106
667,1,A,72,2010-02-05,98499.12,False,5.727778,0.679451,8.106
679,1,A,74,2010-02-05,12251.94,False,5.727778,0.679451,8.106
691,1,A,77,2011-11-25,1431.00,True,15.633333,0.854861,7.866
694,1,A,78,2010-03-05,12.00,False,8.055556,0.693452,8.106
698,1,A,79,2010-02-05,46729.77,False,5.727778,0.679451,8.106
710,1,A,80,2010-02-05,15694.17,False,5.727778,0.679451,8.106
722,1,A,81,2010-02-05,30052.75,False,5.727778,0.679451,8.106
734,1,A,82,2010-02-05,19484.03,False,5.727778,0.679451,8.106
746,1,A,83,2010-02-05,5711.19,False,5.727778,0.679451,8.106
758,1,A,85,2010-02-05,3825.78,False,5.727778,0.679451,8.106
770,1,A,87,2010-02-05,35972.49,False,5.727778,0.679451,8.106
782,1,A,90,2010-02-05,76419.47,False,5.727778,0.679451,8.106
794,1,A,91,2010-02-05,62424.14,False,5.727778,0.679451,8.106
806,1,A,92,2010-02-05,139884.94,False,5.727778,0.679451,8.106
818,1,A,93,2010-02-05,64494.87,False,5.727778,0.679451,8.106
830,1,A,94,2010-02-05,56655.39,False,5.727778,0.679451,8.106
842,1,A,95,2010-02-05,106690.06,False,5.727778,0.679451,8.106
854,1,A,96,2010-07-02,5265.09,False,27.172222,0.705076,7.787
866,1,A,97,2010-02-05,32153.04,False,5.727778,0.679451,8.106
878,1,A,98,2010-02-05,10891.37,False,5.727778,0.679451,8.106
890,1,A,99,2010-07-02,0.01,False,27.172222,0.705076,7.787
901,2,A,1,2010-02-05,35034.06,False,4.550000,0.679451,8.324
913,2,A,2,2010-02-05,74661.16,False,4.550000,0.679451,8.324
925,2,A,3,2010-02-05,16873.20,False,4.550000,0.679451,8.324
937,2,A,4,2010-02-05,47681.96,False,4.550000,0.679451,8.324
949,2,A,5,2010-02-05,34025.45,False,4.550000,0.679451,8.324
961,2,A,6,2010-02-05,7472.24,False,4.550000,0.679451,8.324
973,2,A,7,2010-02-05,28512.95,False,4.550000,0.679451,8.324
985,2,A,8,2010-02-05,69634.80,False,4.550000,0.679451,8.324
997,2,A,9,2010-02-05,24162.08,False,4.550000,0.679451,8.324
1009,2,A,10,2010-02-05,39602.47,False,4.550000,0.679451,8.324
1021,2,A,11,2010-02-05,24800.30,False,4.550000,0.679451,8.324
1033,2,A,12,2010-02-05,6906.20,False,4.550000,0.679451,8.324
1045,2,A,13,2010-02-05,53319.96,False,4.550000,0.679451,8.324
1057,2,A,14,2010-02-05,26425.58,False,4.550000,0.679451,8.324
1069,2,A,16,2010-02-05,9674.86,False,4.550000,0.679451,8.324
1081,2,A,17,2010-02-05,18810.11,False,4.550000,0.679451,8.324
1093,2,A,18,2010-02-05,7277.75,False,4.550000,0.679451,8.324
1105,2,A,19,2010-02-05,4891.96,False,4.550000,0.679451,8.324
1117,2,A,20,2010-02-05,7231.65,False,4.550000,0.679451,8.324
1129,2,A,21,2010-02-05,12636.72,False,4.550000,0.679451,8.324
1141,2,A,22,2010-02-05,20565.41,False,4.550000,0.679451,8.324
1153,2,A,23,2010-02-05,31836.69,False,4.550000,0.679451,8.324
1165,2,A,24,2010-02-05,9731.05,False,4.550000,0.679451,8.324
1177,2,A,25,2010-02-05,16827.50,False,4.550000,0.679451,8.324
1189,2,A,26,2010-02-05,13414.69,False,4.550000,0.679451,8.324
1201,2,A,27,2010-02-05,3184.50,False,4.550000,0.679451,8.324
1213,2,A,28,2010-02-05,1592.41,False,4.550000,0.679451,8.324
1225,2,A,29,2010-02-05,10322.43,False,4.550000,0.679451,8.324
1237,2,A,30,2010-02-05,6916.00,False,4.550000,0.679451,8.324
1249,2,A,31,2010-02-05,3840.21,False,4.550000,0.679451,8.324
1261,2,A,32,2010-02-05,17212.26,False,4.550000,0.679451,8.324
1273,2,A,33,2010-02-05,8896.08,False,4.550000,0.679451,8.324
1285,2,A,34,2010-02-05,20347.47,False,4.550000,0.679451,8.324
1297,2,A,35,2010-02-05,4216.00,False,4.550000,0.679451,8.324
1309,2,A,36,2010-02-05,975.50,False,4.550000,0.679451,8.324
1321,2,A,37,2010-02-05,4961.19,False,4.550000,0.679451,8.324
1333,2,A,38,2010-02-05,113144.90,False,4.550000,0.679451,8.324
1345,2,A,39,2010-02-19,0.78,False,4.272222,0.664129,8.324
1347,2,A,40,2010-02-05,96799.15,False,4.550000,0.679451,8.324
1359,2,A,41,2010-02-05,1707.77,False,4.550000,0.679451,8.324
1371,2,A,42,2010-02-05,8438.99,False,4.550000,0.679451,8.324
1383,2,A,44,2010-02-05,8788.47,False,4.550000,0.679451,8.324
1395,2,A,45,2010-02-05,27.50,False,4.550000,0.679451,8.324
1407,2,A,46,2010-02-05,30328.88,False,4.550000,0.679451,8.324
1419,2,A,47,2010-05-21,70.00,False,23.794444,0.746551,8.200
1428,2,A,48,2010-02-05,2357.00,False,4.550000,0.679451,8.324
1440,2,A,49,2010-02-05,15767.00,False,4.550000,0.679451,8.324
1452,2,A,51,2010-02-05,49.88,False,4.550000,0.679451,8.324
1455,2,A,52,2010-02-05,6096.46,False,4.550000,0.679451,8.324
1467,2,A,54,2010-02-05,259.00,False,4.550000,0.679451,8.324
1479,2,A,55,2010-02-05,17657.65,False,4.550000,0.679451,8.324
1491,2,A,56,2010-02-05,2024.13,False,4.550000,0.679451,8.324
1503,2,A,58,2010-02-05,28454.00,False,4.550000,0.679451,8.324
1515,2,A,59,2010-02-05,1563.10,False,4.550000,0.679451,8.324
1527,2,A,60,2010-03-19,0.00,False,12.511111,0.718548,8.324
1539,2,A,67,2010-02-05,15787.68,False,4.550000,0.679451,8.324
1551,2,A,71,2010-02-05,7956.50,False,4.550000,0.679451,8.324
1563,2,A,72,2010-02-05,119609.83,False,4.550000,0.679451,8.324
1575,2,A,74,2010-02-05,22923.63,False,4.550000,0.679451,8.324
1587,2,A,77,2011-11-25,1431.00,True,13.533333,0.854861,7.441
1589,2,A,78,2010-02-05,12.00,False,4.550000,0.679451,8.324
1595,2,A,79,2010-02-05,48139.99,False,4.550000,0.679451,8.324
1607,2,A,80,2010-02-05,27416.54,False,4.550000,0.679451,8.324
1619,2,A,81,2010-02-05,32543.64,False,4.550000,0.679451,8.324
1631,2,A,82,2010-02-05,21581.79,False,4.550000,0.679451,8.324
1643,2,A,83,2010-02-05,6263.43,False,4.550000,0.679451,8.324
1655,2,A,85,2010-02-05,4311.13,False,4.550000,0.679451,8.324
1667,2,A,87,2010-02-05,36792.81,False,4.550000,0.679451,8.324
1679,2,A,90,2010-02-05,106222.74,False,4.550000,0.679451,8.324
1691,2,A,91,2010-02-05,88433.59,False,4.550000,0.679451,8.324
1703,2,A,92,2010-02-05,178982.89,False,4.550000,0.679451,8.324
1715,2,A,93,2010-02-05,66106.91,False,4.550000,0.679451,8.324
1727,2,A,94,2010-02-05,67287.18,False,4.550000,0.679451,8.324
1739,2,A,95,2010-02-05,143002.81,False,4.550000,0.679451,8.324
1751,2,A,96,2010-02-05,29295.96,False,4.550000,0.679451,8.324
1763,2,A,97,2010-02-05,41686.06,False,4.550000,0.679451,8.324
1775,2,A,98,2010-02-05,14693.62,False,4.550000,0.679451,8.324
1787,2,A,99,2010-06-25,22.64,False,30.144444,0.700849,8.200
1798,4,A,1,2010-02-05,38724.42,False,6.533333,0.686319,8.623
1810,4,A,2,2010-02-05,91481.24,False,6.533333,0.686319,8.623
1822,4,A,3,2010-02-05,16166.02,False,6.533333,0.686319,8.623
1834,4,A,4,2010-02-05,59554.57,False,6.533333,0.686319,8.623
1846,4,A,5,2010-02-05,48602.55,False,6.533333,0.686319,8.623
1858,4,A,6,2010-02-05,10216.17,False,6.533333,0.686319,8.623
1870,4,A,7,2010-02-05,37239.25,False,6.533333,0.686319,8.623
1882,4,A,8,2010-02-05,71562.58,False,6.533333,0.686319,8.623
1894,4,A,9,2010-02-05,21654.54,False,6.533333,0.686319,8.623
1906,4,A,10,2010-02-05,34932.26,False,6.533333,0.686319,8.623
1918,4,A,11,2010-02-05,30263.01,False,6.533333,0.686319,8.623
1930,4,A,12,2010-02-05,8245.06,False,6.533333,0.686319,8.623
1942,4,A,13,2010-02-05,75841.39,False,6.533333,0.686319,8.623
1954,4,A,14,2010-02-05,28027.75,False,6.533333,0.686319,8.623
1966,4,A,16,2010-02-05,7437.73,False,6.533333,0.686319,8.623
1978,4,A,17,2010-02-05,20612.43,False,6.533333,0.686319,8.623
1990,4,A,18,2010-02-05,10503.75,False,6.533333,0.686319,8.623
2002,4,A,19,2010-02-05,4656.70,False,6.533333,0.686319,8.623
2014,4,A,20,2010-02-05,8329.67,False,6.533333,0.686319,8.623
2026,4,A,21,2010-02-05,11574.09,False,6.533333,0.686319,8.623
2038,4,A,22,2010-02-05,19300.76,False,6.533333,0.686319,8.623
2050,4,A,23,2010-02-05,43265.50,False,6.533333,0.686319,8.623
2062,4,A,24,2010-02-05,11156.49,False,6.533333,0.686319,8.623
2074,4,A,25,2010-02-05,15790.50,False,6.533333,0.686319,8.623
2086,4,A,26,2010-02-05,22624.89,False,6.533333,0.686319,8.623
2098,4,A,27,2010-02-05,3623.50,False,6.533333,0.686319,8.623
2110,4,A,28,2010-02-05,1226.67,False,6.533333,0.686319,8.623
2122,4,A,29,2010-02-05,9588.59,False,6.533333,0.686319,8.623
2134,4,A,30,2010-02-05,8863.08,False,6.533333,0.686319,8.623
2146,4,A,31,2010-02-05,3184.46,False,6.533333,0.686319,8.623
2158,4,A,32,2010-02-05,17841.91,False,6.533333,0.686319,8.623
2170,4,A,33,2010-02-05,12645.74,False,6.533333,0.686319,8.623
2182,4,A,34,2010-02-05,27682.50,False,6.533333,0.686319,8.623
2194,4,A,35,2010-02-05,4335.00,False,6.533333,0.686319,8.623
2206,4,A,36,2010-02-05,578.00,False,6.533333,0.686319,8.623
2218,4,A,37,2010-02-05,5141.83,False,6.533333,0.686319,8.623
2230,4,A,38,2010-02-05,88153.66,False,6.533333,0.686319,8.623
2242,4,A,39,2010-12-10,1.56,False,5.777778,0.755532,7.127
2243,4,A,40,2010-02-05,87370.88,False,6.533333,0.686319,8.623
2255,4,A,41,2010-02-05,401.94,False,6.533333,0.686319,8.623
2267,4,A,42,2010-02-05,9960.26,False,6.533333,0.686319,8.623
2279,4,A,44,2010-02-05,5972.36,False,6.533333,0.686319,8.623
2291,4,A,45,2010-02-05,7.50,False,6.533333,0.686319,8.623
2303,4,A,46,2010-02-05,34577.63,False,6.533333,0.686319,8.623
2315,4,A,47,2010-02-12,498.00,True,-1.755556,0.679715,8.623
2324,4,A,48,2010-02-05,1872.00,False,6.533333,0.686319,8.623
2336,4,A,49,2010-02-05,6575.58,False,6.533333,0.686319,8.623
2348,4,A,51,2010-02-05,38.64,False,6.533333,0.686319,8.623
2355,4,A,52,2010-02-05,4019.83,False,6.533333,0.686319,8.623
2367,4,A,54,2010-02-05,488.00,False,6.533333,0.686319,8.623
2379,4,A,55,2010-02-05,23422.51,False,6.533333,0.686319,8.623
2391,4,A,56,2010-02-05,2744.01,False,6.533333,0.686319,8.623
2403,4,A,58,2010-02-05,11947.83,False,6.533333,0.686319,8.623
2415,4,A,59,2010-02-05,1553.48,False,6.533333,0.686319,8.623
2427,4,A,60,2010-02-05,473.40,False,6.533333,0.686319,8.623
2439,4,A,67,2010-02-05,14670.81,False,6.533333,0.686319,8.623
2451,4,A,71,2010-02-05,9153.46,False,6.533333,0.686319,8.623
2463,4,A,72,2010-02-05,138901.12,False,6.533333,0.686319,8.623
2475,4,A,74,2010-02-05,23745.79,False,6.533333,0.686319,8.623
2487,4,A,77,2011-11-25,954.00,True,8.866667,0.851955,5.143
2492,4,A,78,2010-02-12,1.00,True,-1.755556,0.679715,8.623
2496,4,A,79,2010-02-05,60569.39,False,6.533333,0.686319,8.623
2508,4,A,80,2010-02-05,16852.33,False,6.533333,0.686319,8.623
2520,4,A,81,2010-02-05,29863.11,False,6.533333,0.686319,8.623
2532,4,A,82,2010-02-05,21984.06,False,6.533333,0.686319,8.623
2544,4,A,83,2010-02-05,9654.00,False,6.533333,0.686319,8.623
2556,4,A,85,2010-02-05,3181.36,False,6.533333,0.686319,8.623
2568,4,A,87,2010-02-05,18721.90,False,6.533333,0.686319,8.623
2580,4,A,90,2010-02-05,93621.20,False,6.533333,0.686319,8.623
2592,4,A,91,2010-02-05,73717.92,False,6.533333,0.686319,8.623
2604,4,A,92,2010-02-05,165765.50,False,6.533333,0.686319,8.623
2616,4,A,93,2010-02-05,60623.33,False,6.533333,0.686319,8.623
2628,4,A,94,2010-02-05,57647.52,False,6.533333,0.686319,8.623
2640,4,A,95,2010-02-05,130722.18,False,6.533333,0.686319,8.623
2652,4,A,96,2010-02-05,32581.21,False,6.533333,0.686319,8.623
2664,4,A,97,2010-02-05,38214.05,False,6.533333,0.686319,8.623
2676,4,A,98,2010-02-05,12899.52,False,6.533333,0.686319,8.623
2688,4,A,99,2010-02-19,8.98,False,2.472222,0.670997,8.623
2699,6,A,1,2010-02-05,25619.00,False,4.683333,0.679451,7.259
2711,6,A,2,2010-02-05,50810.04,False,4.683333,0.679451,7.259
2723,6,A,3,2010-02-05,14831.00,False,4.683333,0.679451,7.259
2735,6,A,4,2010-02-05,35192.87,False,4.683333,0.679451,7.259
2747,6,A,5,2010-02-05,41607.89,False,4.683333,0.679451,7.259
2759,6,A,6,2010-02-05,8301.20,False,4.683333,0.679451,7.259
2771,6,A,7,2010-02-05,23567.81,False,4.683333,0.679451,7.259
2783,6,A,8,2010-02-05,51620.42,False,4.683333,0.679451,7.259
2795,6,A,9,2010-02-05,26716.19,False,4.683333,0.679451,7.259
2807,6,A,10,2010-02-05,43843.57,False,4.683333,0.679451,7.259
2819,6,A,11,2010-02-05,21103.95,False,4.683333,0.679451,7.259
2831,6,A,12,2010-02-05,7150.11,False,4.683333,0.679451,7.259
2843,6,A,13,2010-02-05,39860.70,False,4.683333,0.679451,7.259
2855,6,A,14,2010-02-05,28269.16,False,4.683333,0.679451,7.259
2867,6,A,16,2010-02-05,11819.17,False,4.683333,0.679451,7.259
2879,6,A,17,2010-02-05,20550.99,False,4.683333,0.679451,7.259
2891,6,A,18,2010-02-05,5256.30,False,4.683333,0.679451,7.259
2903,6,A,19,2010-02-05,3707.61,False,4.683333,0.679451,7.259
2915,6,A,20,2010-02-05,9803.81,False,4.683333,0.679451,7.259
2927,6,A,21,2010-02-05,11793.23,False,4.683333,0.679451,7.259
2939,6,A,22,2010-02-05,23716.37,False,4.683333,0.679451,7.259
2951,6,A,23,2010-02-05,29660.17,False,4.683333,0.679451,7.259
2963,6,A,24,2010-02-05,8532.40,False,4.683333,0.679451,7.259
2975,6,A,25,2010-02-05,14733.00,False,4.683333,0.679451,7.259
2987,6,A,26,2010-02-05,10668.54,False,4.683333,0.679451,7.259
2999,6,A,27,2010-02-05,3115.00,False,4.683333,0.679451,7.259
3011,6,A,28,2010-02-05,1190.89,False,4.683333,0.679451,7.259
3023,6,A,29,2010-02-05,9397.08,False,4.683333,0.679451,7.259
3035,6,A,30,2010-02-05,5952.40,False,4.683333,0.679451,7.259
3047,6,A,31,2010-02-05,2662.00,False,4.683333,0.679451,7.259
3059,6,A,32,2010-02-05,13871.90,False,4.683333,0.679451,7.259
3071,6,A,33,2010-02-05,9161.01,False,4.683333,0.679451,7.259
3083,6,A,34,2010-02-05,19745.03,False,4.683333,0.679451,7.259
3095,6,A,35,2010-02-05,4091.00,False,4.683333,0.679451,7.259
3107,6,A,36,2010-02-05,108.00,False,4.683333,0.679451,7.259
3119,6,A,37,2010-02-05,5165.01,False,4.683333,0.679451,7.259
3131,6,A,38,2010-02-05,100213.47,False,4.683333,0.679451,7.259
3143,6,A,40,2010-02-05,73635.52,False,4.683333,0.679451,7.259
3155,6,A,41,2010-02-05,1630.74,False,4.683333,0.679451,7.259
3167,6,A,42,2010-02-05,8163.79,False,4.683333,0.679451,7.259
3179,6,A,44,2010-02-05,8361.32,False,4.683333,0.679451,7.259
3191,6,A,45,2010-02-05,24.62,False,4.683333,0.679451,7.259
3203,6,A,46,2010-02-05,27470.39,False,4.683333,0.679451,7.259
3215,6,A,47,2010-02-05,-59.00,False,4.683333,0.679451,7.259
3224,6,A,48,2010-02-05,2893.00,False,4.683333,0.679451,7.259
3236,6,A,49,2010-02-05,14727.18,False,4.683333,0.679451,7.259
3248,6,A,51,2010-02-05,29.32,False,4.683333,0.679451,7.259
3251,6,A,52,2010-02-05,5133.68,False,4.683333,0.679451,7.259
3263,6,A,54,2010-02-05,129.00,False,4.683333,0.679451,7.259
3275,6,A,55,2010-02-05,26380.77,False,4.683333,0.679451,7.259
3287,6,A,56,2010-02-05,3085.13,False,4.683333,0.679451,7.259
3299,6,A,58,2010-02-05,3322.00,False,4.683333,0.679451,7.259
3311,6,A,59,2010-02-05,1170.91,False,4.683333,0.679451,7.259
3323,6,A,60,2010-05-07,0.01,False,23.155556,0.748928,7.092
3335,6,A,67,2010-02-05,13970.69,False,4.683333,0.679451,7.259
3347,6,A,71,2010-02-05,9847.07,False,4.683333,0.679451,7.259
3359,6,A,72,2010-02-05,112279.42,False,4.683333,0.679451,7.259
3371,6,A,74,2010-02-05,21374.43,False,4.683333,0.679451,7.259
3383,6,A,77,2011-11-25,1272.00,True,17.100000,0.854861,6.551
3385,6,A,78,2010-02-26,0.00,False,8.388889,0.676545,7.259
3390,6,A,79,2010-02-05,34395.14,False,4.683333,0.679451,7.259
3402,6,A,80,2010-02-05,14222.74,False,4.683333,0.679451,7.259
3414,6,A,81,2010-02-05,16765.86,False,4.683333,0.679451,7.259
3426,6,A,82,2010-02-05,18933.52,False,4.683333,0.679451,7.259
3438,6,A,83,2010-02-05,4444.58,False,4.683333,0.679451,7.259
3450,6,A,85,2010-02-05,2972.29,False,4.683333,0.679451,7.259
3462,6,A,87,2010-02-05,39665.50,False,4.683333,0.679451,7.259
3474,6,A,90,2010-02-05,58106.79,False,4.683333,0.679451,7.259
3486,6,A,91,2010-02-05,48449.73,False,4.683333,0.679451,7.259
3498,6,A,92,2010-02-05,111241.81,False,4.683333,0.679451,7.259
3510,6,A,93,2010-02-05,40815.87,False,4.683333,0.679451,7.259
3522,6,A,94,2010-02-05,40100.82,False,4.683333,0.679451,7.259
3534,6,A,95,2010-02-05,90278.94,False,4.683333,0.679451,7.259
3546,6,A,96,2010-02-05,24989.15,False,4.683333,0.679451,7.259
3558,6,A,97,2010-02-05,20947.70,False,4.683333,0.679451,7.259
3570,6,A,98,2010-02-05,9326.39,False,4.683333,0.679451,7.259
3582,6,A,99,2011-03-04,580.00,False,15.805556,0.868598,6.858
3593,10,B,1,2010-02-05,40212.84,False,12.411111,0.782478,9.765
3605,10,B,2,2010-02-05,123952.48,False,12.411111,0.782478,9.765
3617,10,B,3,2010-02-05,30175.46,False,12.411111,0.782478,9.765
3629,10,B,4,2010-02-05,51885.86,False,12.411111,0.782478,9.765
3641,10,B,5,2010-02-05,75297.91,False,12.411111,0.782478,9.765
3653,10,B,6,2010-02-05,14833.87,False,12.411111,0.782478,9.765
3665,10,B,7,2010-02-05,52212.32,False,12.411111,0.782478,9.765
3677,10,B,8,2010-02-05,98763.10,False,12.411111,0.782478,9.765
3689,10,B,9,2010-02-05,58124.72,False,12.411111,0.782478,9.765
3701,10,B,10,2010-02-05,48027.87,False,12.411111,0.782478,9.765
3713,10,B,11,2010-02-05,36705.57,False,12.411111,0.782478,9.765
3725,10,B,12,2010-02-05,10365.86,False,12.411111,0.782478,9.765
3737,10,B,13,2010-02-05,74020.63,False,12.411111,0.782478,9.765
3749,10,B,14,2010-02-05,55033.94,False,12.411111,0.782478,9.765
3761,10,B,16,2010-02-05,25694.43,False,12.411111,0.782478,9.765

Perhaps a more interesting/obvious transformation is getting all the unique holiday dates from the `sales` dataset:

In [38]:
holiday_dates = sales[sales['is_holiday'] == True].drop_duplicates('date').sort_values('date')
holiday_dates['date']

2315   2010-02-12
498    2010-09-10
6810   2010-12-31
6820   2011-09-09
691    2011-11-25
6815   2012-02-10
6735   2012-09-07
Name: date, dtype: datetime64[ns]

### Counting categorical variables

Here are a few ways that categorical data can be counted, based on the two `DataFrame`s ensuring uniqueness calculated previously:

In [39]:
store_counts = store_types['type'].value_counts()
store_counts

type
A    11
B     1
Name: count, dtype: int64

`normalize=True` does proportions rather than raw counts:

In [40]:
store_props = store_types['type'].value_counts(normalize=True)
store_props

type
A    0.916667
B    0.083333
Name: proportion, dtype: float64

`sort=True` (on by default, at least as of pandas 2.2.3):

In [41]:
dept_counts_sorted = store_depts['department'].value_counts(sort=True)
dept_counts_sorted

department
1     12
2     12
3     12
4     12
5     12
6     12
7     12
8     12
9     12
10    12
11    12
12    12
13    12
14    12
16    12
17    12
18    12
19    12
20    12
21    12
22    12
23    12
24    12
25    12
26    12
27    12
28    12
29    12
30    12
31    12
32    12
33    12
34    12
35    12
36    12
38    12
41    12
40    12
42    12
44    12
49    12
45    12
46    12
47    12
52    12
51    12
55    12
54    12
83    12
85    12
56    12
58    12
59    12
60    12
67    12
71    12
72    12
74    12
77    12
78    12
79    12
80    12
81    12
82    12
95    12
96    12
87    12
90    12
91    12
92    12
93    12
94    12
97    12
98    12
99    11
37    10
48     8
50     6
39     4
43     2
Name: count, dtype: int64

`sort` and `normalize` can of course be combined:

In [42]:
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
dept_props_sorted

department
1     0.012917
2     0.012917
3     0.012917
4     0.012917
5     0.012917
6     0.012917
7     0.012917
8     0.012917
9     0.012917
10    0.012917
11    0.012917
12    0.012917
13    0.012917
14    0.012917
16    0.012917
17    0.012917
18    0.012917
19    0.012917
20    0.012917
21    0.012917
22    0.012917
23    0.012917
24    0.012917
25    0.012917
26    0.012917
27    0.012917
28    0.012917
29    0.012917
30    0.012917
31    0.012917
32    0.012917
33    0.012917
34    0.012917
35    0.012917
36    0.012917
38    0.012917
41    0.012917
40    0.012917
42    0.012917
44    0.012917
49    0.012917
45    0.012917
46    0.012917
47    0.012917
52    0.012917
51    0.012917
55    0.012917
54    0.012917
83    0.012917
85    0.012917
56    0.012917
58    0.012917
59    0.012917
60    0.012917
67    0.012917
71    0.012917
72    0.012917
74    0.012917
77    0.012917
78    0.012917
79    0.012917
80    0.012917
81    0.012917
82    0.012917
95    0.012917
96    0.012917
87    0.012917
90    0.012917
91    0.012917
92    0.012917
93    0.012917
94    0.012917
97    0.012917
98    0.012917
99    0.011841
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: proportion, dtype: float64

### What percent of sales occurred at each store type?

Here it is possible to do a summary for each of the three types of store manually then normalize using the sum of all values of `weekly_sales`. I was initially confused that a `list` could be divided by what one might call a "scalar" value, to borrow from Perl terminology. The reason it works is because `sales_all` is an `np.float64`. I am not entirely sure how it works under the hood.

In [43]:
sales_all = sales['weekly_sales'].sum()
sales_A = sales[sales['type'] == "A"]['weekly_sales'].sum()
sales_B = sales[sales['type'] == "B"]['weekly_sales'].sum()
sales_C = sales[sales['type'] == "C"]['weekly_sales'].sum()

sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
sales_propn_by_type

array([0.9098, 0.0902, 0.    ])

### Calculations with .groupby()

Strictly speaking, the above *works*, but it is brittle (values of `type` hard-coded) and tedious and error-prone (violation of the DRY principle). Writing a `for` loop would obviate much of the downsides to the above approach but pandas can do us one better by offering `.groupby()`:

In [44]:
sales_by_type = sales.groupby('type')['weekly_sales'].sum()
sales_by_type

type
A    2.337163e+08
B    2.317840e+07
Name: weekly_sales, dtype: float64

In [45]:
sales_propn_by_type = sales_by_type / sales['weekly_sales'].sum()
sales_propn_by_type

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

### Multiple grouped summaries

It is possible moreover to use multiple variables after a `.groupby()` operation. Here we group by `type` and compute several aggregate statistics on `weekly_sales` as an example of summarizing only variable:

In [46]:
sales_stats = sales.groupby('type')['weekly_sales'].agg([pd.Series.min, pd.Series.max, pd.Series.mean, pd.Series.median])
sales_stats

         min        max          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08

In this instance, however, the aggregation is done over `unemployment` and `fuel_price_usd_per_l`:

In [47]:
unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg([
    pd.Series.min,
    pd.Series.max,
    pd.Series.mean,
    pd.Series.median
])
unemp_fuel_stats

     unemployment                         fuel_price_usd_per_l            \
              min    max      mean median                  min       max
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

### Pivoting on one variable

pandas can even emulate the "pivot table" functionality of many spreadsheet software programs. Here, `index` is the variable to group by and `weekly_sales` is the variable of interest to aggregate after grouping. Note that the default aggregation is the arithmetic mean:

In [48]:
mean_sales_by_type = sales.pivot_table(values='weekly_sales', index='type')
mean_sales_by_type

      weekly_sales
type
A     23674.667242
B     25696.678370

And here, two aggregation functions are explicitly applied. They can be named with strings instead of with explicit method names, which is nice:

In [49]:
mean_med_sales_by_type = sales.pivot_table(values='weekly_sales', index='type', aggfunc=['mean', 'median'])
mean_med_sales_by_type

              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08

A second dimension can be introduced with the addition of the `columns` argument:

In [50]:
mean_sales_by_type_holiday = sales.pivot_table(values='weekly_sales', index='type', columns='is_holiday')
mean_sales_by_type_holiday

is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

### Fill in missing values and sum values with pivot tables

Rather than just have a bunch of `NaN` values, `fill_value` can be set to `0` when appropriate:

In [51]:
sales.pivot_table(values='weekly_sales', index='department', columns='type', fill_value=0)

type                    A              B
department
1            30961.725379   44050.626667
2            67600.158788  112958.526667
3            17160.002955   30580.655000
4            44285.399091   51219.654167
5            34821.011364   63236.875000
6             7136.292652   10717.297500
7            38454.336818   52909.653333
8            48583.475303   90733.753333
9            30120.449924   66679.301667
10           30930.456364   48595.126667
11           23028.312727   35488.429167
12            6786.840606    9656.520000
13           51398.168561   67213.587500
14           22457.695303   40400.020000
16           25202.751894   29558.182500
17           16167.586136   27675.351667
18           12201.771212   17361.347500
19            1560.951719    3365.895000
20            8312.070227   16191.810000
21            9324.387197   10368.968333
22           14225.324167   26044.797500
23           29350.745076   63960.273333
24            8204.587576   15376.829167
25           13382.164242   20619.285000
26           11254.311212   17535.457500
27            2079.160455    4553.720833
28             968.247348    1422.762500
29            6859.108485   14999.843333
30            5403.619773   12442.080000
31            3221.001818    6151.995000
32            9599.303409   21047.399167
33            8588.995303   14912.160000
34           19148.733712   44931.189167
35            3504.714015    7560.045000
36            2455.818409    3827.720000
37            3628.019722    4303.381667
38           84796.323939   85665.308333
39               5.198571       0.000000
40           70695.733636  104830.629167
41            2218.515909    7514.514167
42            7831.950530   11280.798333
43               0.660000       0.000000
44            5984.462576    9091.141667
45              19.120877      41.751667
46           29991.069924   53406.163333
47              10.484902     -71.916667
48            1020.982949    1965.108333
49           11008.071742   19313.554167
50            2325.230167    3991.500000
51              23.057527      38.661667
52            2919.754773    5360.840833
54             221.288030     551.016667
55           15368.005985   20420.726667
56            5529.171136     992.310000
58            6510.454621    5156.833333
59            1358.490530    2536.538333
60             461.176591     577.850000
67           12064.737500   13327.714167
71            7486.394318   15945.855000
72           72767.860227  145237.726667
74           22097.090152   44480.321667
77             370.651316    1590.000000
78               8.893878       1.714286
79           40643.113106   39802.038333
80           22425.941667     116.680000
81           28417.831061   11084.591667
82           21698.068561   21943.495833
83            7020.960985     327.011667
85            3593.235379    2887.316667
87           22549.672045   21829.132500
90           85776.905909   14780.210000
91           70423.165227   13199.602500
92          139722.204773   50859.278333
93           53413.633939    1466.274167
94           60081.155303     161.445833
95          123933.787121   77082.102500
96           21367.042857    9528.538333
97           28471.266970    5828.873333
98           12875.423182     217.428333
99             379.123659       0.000000

`.pivot_table()` can also calculate partial group aggregates on the margins with `margins=True` (again the default aggregate function is the arithmetic mean):

In [53]:
sales.pivot_table(values='weekly_sales', index='department', columns='type', fill_value=0, margins=True)

type                    A              B            All
department
1            30961.725379   44050.626667   32052.467153
2            67600.158788  112958.526667   71380.022778
3            17160.002955   30580.655000   18278.390625
4            44285.399091   51219.654167   44863.253681
5            34821.011364   63236.875000   37189.000000
6             7136.292652   10717.297500    7434.709722
7            38454.336818   52909.653333   39658.946528
8            48583.475303   90733.753333   52095.998472
9            30120.449924   66679.301667   33167.020903
10           30930.456364   48595.126667   32402.512222
11           23028.312727   35488.429167   24066.655764
12            6786.840606    9656.520000    7025.980556
13           51398.168561   67213.587500   52716.120139
14           22457.695303   40400.020000   23952.889028
16           25202.751894   29558.182500   25565.704444
17           16167.586136   27675.351667   17126.566597
18           12201.771212   17361.347500   12631.735903
19            1560.951719    3365.895000    1715.661143
20            8312.070227   16191.810000    8968.715208
21            9324.387197   10368.968333    9411.435625
22           14225.324167   26044.797500   15210.280278
23           29350.745076   63960.273333   32234.872431
24            8204.587576   15376.829167    8802.274375
25           13382.164242   20619.285000   13985.257639
26           11254.311212   17535.457500   11777.740069
27            2079.160455    4553.720833    2285.373819
28             968.247348    1422.762500    1006.123611
29            6859.108485   14999.843333    7537.503056
30            5403.619773   12442.080000    5990.158125
31            3221.001818    6151.995000    3465.251250
32            9599.303409   21047.399167   10553.311389
33            8588.995303   14912.160000    9115.925694
34           19148.733712   44931.189167   21297.271667
35            3504.714015    7560.045000    3842.658264
36            2455.818409    3827.720000    2570.143542
37            3628.019722    4303.381667    3695.555917
38           84796.323939   85665.308333   84868.739306
39               5.198571       0.000000       5.198571
40           70695.733636  104830.629167   73540.308264
41            2218.515909    7514.514167    2659.849097
42            7831.950530   11280.798333    8119.354514
43               0.660000       0.000000       0.660000
44            5984.462576    9091.141667    6243.352500
45              19.120877      41.751667      21.276190
46           29991.069924   53406.163333   31942.327708
47              10.484902     -71.916667       1.811053
48            1020.982949    1965.108333    1146.866333
49           11008.071742   19313.554167   11700.195278
50            2325.230167    3991.500000    2602.941806
51              23.057527      38.661667      24.003232
52            2919.754773    5360.840833    3123.178611
54             221.288030     551.016667     248.765417
55           15368.005985   20420.726667   15789.066042
56            5529.171136     992.310000    5151.099375
58            6510.454621    5156.833333    6397.652847
59            1358.490530    2536.538333    1456.661181
60             461.176591     577.850000     470.899375
67           12064.737500   13327.714167   12169.985556
71            7486.394318   15945.855000    8191.349375
72           72767.860227  145237.726667   78807.015764
74           22097.090152   44480.321667   23962.359444
77             370.651316    1590.000000     401.916667
78               8.893878       1.714286       7.996429
79           40643.113106   39802.038333   40573.023542
80           22425.941667     116.680000   20566.836528
81           28417.831061   11084.591667   26973.394444
82           21698.068561   21943.495833   21718.520833
83            7020.960985     327.011667    6463.131875
85            3593.235379    2887.316667    3534.408819
87           22549.672045   21829.132500   22489.627083
90           85776.905909   14780.210000   79860.514583
91           70423.165227   13199.602500   65654.535000
92          139722.204773   50859.278333  132316.960903
93           53413.633939    1466.274167   49084.687292
94           60081.155303     161.445833   55087.846181
95          123933.787121   77082.102500  120029.480069
96           21367.042857    9528.538333   20337.607681
97           28471.266970    5828.873333   26584.400833
98           12875.423182     217.428333   11820.590278
99             379.123659       0.000000     379.123659
All          23674.667242   25696.678370   23843.950149

## Slicing and Indexing `DataFrame`s